.chatWindow {
    grid-area: chatWindowSection;
    display: grid;
    grid-template-rows: 5fr 80fr 15fr;
    grid-template-areas:
        "currentChatUser"
        "currentChatWindow"
        "currentChatSendMessage";
}