.usersList {
    grid-area: usersListSection;
    display: grid;
    grid-template-rows: 10fr 90fr;
    grid-template-areas:
        "usersListHeader"
        "usersList";
    max-height: 100%;
    overflow: hidden;
}