.usersList {
    grid-area: usersList;
    background-color: var(--accent-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-family: 'Sour Gummy', sans-serif;
    color: var(--emphasize-color);
    padding-top: 5px;
    overflow-y: scroll;
}

.user {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.isActive {
    border-left: 4px solid var(--emphasize-color);
    padding-left: 6px;
    background-color: revert;
}