.usersListHeader {
    grid-area: usersListHeader;
    background-color: gainsboro;
    font-family: 'Sour Gummy', sans-serif;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.searchInput {
    font-family: 'Sour Gummy', sans-serif;
    border: none;
    border-radius: 3px;
    width: calc(100%-20px);
    box-sizing: border-box;
    padding-left: 25px;
}

.searchInput:focus {
    outline: none;
    caret-color: var(--emphasize-color);
}

.searchBox {
    position: relative;
}

.magnifyingGlass {
    position: absolute;
    top: 20%;
    left: 5px;
    width: 15px;
    height: 15px;
    color: var(--emphasize-color);
}