.header {
    grid-area: header;
    background-color: var(--emphasize-color);
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: 'Sour Gummy', sans-serif;
    color: var(--secondary-color);
}

.logout {
    margin-left: auto;
    margin-right: 10px;
    background-color: var(--emphasize-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.logout:hover {
    background-color: var(--primary-color);
    color: black;
}

.logout:disabled {
    background-color: var(--primary-color);
    color: black;
    cursor: not-allowed;
    opacity: 0.6;
}

.p {
    margin-left: 10px;
    cursor: default;
}