.loginWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    height: 100vh;
    font-family: 'Sour Gummy', sans-serif;
    font-size: large;
}

.form {
    margin-top: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.label {
    margin-top: 15px;
    font-weight: 400;
}

.input {
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    font-family: 'Sour Gummy', sans-serif;
}

.input:focus {
    outline: none;
    caret-color: var(--emphasize-color);
}

.button {
    height: 60px;
    margin-top: 50px;
    background-color: var(--emphasize-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-family: 'Sour Gummy', sans-serif;
    color: var(--secondary-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
    background-color: var(--primary-color);
    color: black;
}

.button:disabled {
    background-color: var(--primary-color);
    color: black;
    cursor: not-allowed;
    opacity: 0.6;
}

.p {
    margin-bottom: 0px;
    color: var(--emphasize-color);
    align-self: flex-end;
}

.p:hover {
    cursor: pointer;
}

.validationError {
    margin-top: 5px;
    color: var(--error-color);
    font-size: small;
}

.requestErrorMessage {
    margin-top: 10px;
    color: var(--error-color);
}